#ifndef SECRETS_H
#define SECRETS_H

// --- DANE LOGOWANIA DO WIFI ---
#define SECRET_WIFI_SSID "TWOJA_NAZWA_SIECI"
#define SECRET_WIFI_PASS "TWOJE_HASLO_WIFI"

// --- KONFIGURACJA PI-HOLE ---
#define SECRET_PIHOLE_IP "192.168.1.xxx" // Adres IP bez http://
#define SECRET_PIHOLE_PASS "TWOJE_HASLO_DO_PIHOLE_APP"

// --- KONFIGURACJA RASPBERRY NODE.JS ---
#define SECRET_RPI_API_URL "http://192.168.1.xxx:5000"

#endif // SECRETS_H